## K Nearest Neighbors

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_validate

In [2]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt",header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [3]:
df[1]

0      5
1      5
2      3
3      6
4      4
      ..
694    3
695    2
696    5
697    4
698    4
Name: 1, Length: 699, dtype: int64

In [4]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

**Con count vemos que no faltan valores, en el caso de que falten tenemos 2 opciones para utilizar luego el metodo de KNN, eliminar dichos valores o simplemente poner valores MUY NEGATIVOS, de lo contrario si utilizamos los promedios o algun numero cercano a los valores tipicos afectara de forma negativa a la predicccion del modelo KNN**

In [5]:
## ponemos el nombre de las columnas, ya que no viene incluido en el dataset
df.columns = ["name","v1","v2","v3","v4","v5","v6","v7","v8","v9","class"]

In [6]:
df.head()

      name  v1  v2  v3  v4  v5  v6  v7  v8  v9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [7]:
## vemos que hay interrogantes en los valores, las reemplazaremos

df.replace("?",-9999,inplace=True) ##ponemos un grna numero negativo

In [8]:
## eliminamos el identificador, ya que no aporta
df = df.drop(["name"],1)
y = df["class"]
x = df[["v1","v2","v3","v4","v5","v6","v7","v8","v9"]]
x.head()

   v1  v2  v3  v4  v5  v6  v7  v8  v9
0   5   1   1   1   2   1   3   1   1
1   5   4   4   5   7  10   3   2   1
2   3   1   1   1   2   2   3   1   1
3   6   8   8   1   3   4   3   7   1
4   4   1   1   3   2   1   3   1   1

In [9]:
y.head()

0    2
1    2
2    2
3    2
4    2
Name: class, dtype: int64

## Clasificador de los k vecinos

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [12]:
clf= neighbors.KNeighborsClassifier()
clf.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [13]:
accuracy = clf.score(x_test,y_test)
accuracy

0.9642857142857143

## Clasificador sin limpieza

In [14]:
df = pd.read_csv("../datasets/cancer/breast-cancer-wisconsin.data.txt",header=None)
df.replace("?",-9999,inplace=True) ##ponemos un grna numero negativo
df.columns = ["name","v1","v2","v3","v4","v5","v6","v7","v8","v9","class"]
y = df["class"]
x = df[["name","v1","v2","v3","v4","v5","v6","v7","v8","v9"]]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
clf_2= neighbors.KNeighborsClassifier()
clf_2.fit(x_train,y_train)
accuracy = clf_2.score(x_test,y_test)
accuracy

0.5357142857142857

**Vemos que si agregamos la columna de la ID la presición baja considerablemente de 99 a 60%, no hay que pasar todos los datos**

# Clasificar nuevos datos

In [15]:
## generemos datos

sample_measure = np.array([4,2,1,1,1,2,3,2,1])
sample_measure = sample_measure.reshape(1,-1)

In [18]:
predict = clf.predict(sample_measure)
predict

array([2])

In [21]:
sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1],[4,7,1,1,1,2,3,2,1]])
sample_measure2 = sample_measure2.reshape(2,-1)
predict = clf.predict(sample_measure2)
predict

array([2, 2])